table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* seller index... */
.wrapper {
    width: 600px;
    margin: 0 auto;
}
table tr td:last-child {
    width: 120px;
}
/* end seller index... */
